$breakpoint-phone-landscape: 501px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1025px;
$breakpoint-desktop-large: 1367px;

$primary-font: 'Source Sans Pro';
$primary-color: #333333;
$lighter-grey: #cccccc;
$highlight-color-sale: #cc3234;
$highlight-color-exclusive: #009900;

$color-info: #2196f3;
$color-warning: #ff9800;
$color-error: #f44336;
$color-success: #4caf50;


$section-header-background-color: #ddf2f3;