$breakpoint-phone-landscape: 501px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 1025px;
$breakpoint-desktop-large: 1367px;

$primary-font: "Montserrat";
$primary-color: #333333;
$smoke-white: #f7f7f7;
$lighter-grey: #cccccc;
$dark-grey: #666666;
$highlight-color-sale: #cc3234;

$buttons-primary: #3373b3;

$color-info: #2196f3;
$color-warning: #ff9800;
$color-error: #f44336;
$color-success: #4caf50;

$colors: #ffc400, #ff5733, #c70039, #900c3f, #581845;