@import 'variables';
@import 'mixins';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}


#app-wrapper {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  width: 75vw;
  &.loading #loader {
    background: #fff url(https://upload.wikimedia.org/wikipedia/commons/5/54/Ajux_loader.gif) no-repeat center;
    background-size: contain;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#progressbars {
  border-left: 1px solid #ccc;
  list-style-type: none;
  overflow: hidden;
  padding: 10px 0 0 0;
  li {
    background-color: rgba(0,0,0,0.05);
    display: block;
    margin-bottom: 10px;
    span {
      background-color: #666;
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
      font-size: 1.5em;
      color: #fff;
      display: block;
      font-weight: 700;
      padding: 10px 0;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      transition: all .25s;
    }
    &:nth-child(1) span{
      background-color:  #FF5733;
    }
    &:nth-child(2) span{
      background-color:  #C70039 ;
    }
    &:nth-child(3) span{
      background-color:  #900C3F ;
    }
    &:nth-child(4) span{
      background-color:  #581845 ;
    }
  }
}

#controls {
  display: flex;
  select,
  button {
    border-radius: 4px;
    margin-right: 10px;
    padding: 6px 16px;
    transition: all .25s;
    &:hover {
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    background-color: #3373b3;
    border-width: 0;
    color: #fff;
    min-width: 60px;
    &:hover {
      background-color: #147;
    }
  }
}


@media screen and (max-width: 719px) {
  body {
    padding: 10px;
  }
  #wrapper {
    padding: 40px 10px;
    width: 100%;
  }
  #controls {
    display: block;
    select {
      display: block;
      width:100%;
    }
  }
  #progressbar-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    button {
      width: 25%;
    }
  }
}